<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="event">
      <h2 data-cy="eventDetailsHeading"><span jhiTranslate="treinamentoApp.event.detail.title">Event</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="treinamentoApp.event.id" [ngbTooltip]="'treinamentoApp.event.help.id' | translate">Id</span></dt>
        <dd>
          <span>{{ event.id }}</span>
        </dd>
        <dt><span jhiTranslate="treinamentoApp.event.name" [ngbTooltip]="'treinamentoApp.event.help.name' | translate">Name</span></dt>
        <dd>
          <span>{{ event.name }}</span>
        </dd>
        <dt>
          <span jhiTranslate="treinamentoApp.event.capacity" [ngbTooltip]="'treinamentoApp.event.help.capacity' | translate">Capacity</span>
        </dt>
        <dd>
          <span>{{ event.capacity }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/event', event.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
