<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-person-heading" data-cy="PersonCreateUpdateHeading" jhiTranslate="treinamentoApp.person.home.createOrEditLabel">
        Create or edit a Person
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label
            class="form-control-label"
            jhiTranslate="treinamentoApp.person.id"
            for="field_id"
            [ngbTooltip]="'treinamentoApp.person.help.id' | translate"
            >Id</label
          >
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="treinamentoApp.person.firstName"
            for="field_firstName"
            [ngbTooltip]="'treinamentoApp.person.help.firstName' | translate"
            >First Name</label
          >
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'First Name' }"
            >
              This field should follow pattern for "First Name".
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="treinamentoApp.person.lastName"
            for="field_lastName"
            [ngbTooltip]="'treinamentoApp.person.help.lastName' | translate"
            >Last Name</label
          >
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="form-group">
          <label jhiTranslate="treinamentoApp.person.event" for="field_events">Event</label>
          <select class="form-control" id="field_events" data-cy="event" multiple name="events" formControlName="events">
            <option
              [ngValue]="getSelectedEvent(eventOption, editForm.get('events')!.value)"
              *ngFor="let eventOption of eventsSharedCollection; trackBy: trackEventById"
            >
              {{ eventOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="treinamentoApp.person.coffee" for="field_coffees">Coffee</label>
          <select class="form-control" id="field_coffees" data-cy="coffee" multiple name="coffees" formControlName="coffees">
            <option
              [ngValue]="getSelectedCoffee(coffeeOption, editForm.get('coffees')!.value)"
              *ngFor="let coffeeOption of coffeesSharedCollection; trackBy: trackCoffeeById"
            >
              {{ coffeeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
